@each(key in ['success', 'error'])
  @if(flashMessages.has(key))
    <div class="alert alert-{{ key == 'success' ? 'success' : 'danger' }}">
      {{ flashMessages.get(key) }}
    </div>
  @endif
@endeach