@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}

$font_palette: 'Fira Sans', sans-serif;
$btn-primary-hover: #efefef;
$main-bg: #212529 !default;
$main-bg-secondary-opacity: 0.89;
$main-bg-secondary: rgba(33, 37, 41, $main-bg-secondary-opacity);

* {
  margin: 0;
  padding: 0;
  font-family: $font_palette;
}

.bg-main {
  background-color: $main-bg !important;
  color: white !important;
}

// *********************** Gestion de style btn *********************
$btn_primary: (
  height: 2.4rem,
  width: 17rem,
  'font-family': $font_palette,
);

.border_btn_primary {
  @each $prop, $val in $btn_primary {
    #{$prop}: $val;
  }
}

.btn_primary {
  @extend .bg-white;
  @extend .border_btn_primary;
  @extend .border;
  //@extend .border-secondary-subtle;
  @extend .rounded-pill;
  color: #212529;
  text-decoration: none;

  &:hover {
    background-color: $btn-primary-hover !important;
    transition: background-color 0.3s ease;
  }
}
.btn_edit_profil {
  @extend .bg-white;
  @extend .border;
  height: 2rem;
  width: 10rem;
  font-family: $font_palette;
  //@extend .border-secondary-subtle;
  @extend .rounded-pill;
  color: #212529;
  text-decoration: none;
  position: absolute;
  left: 330px;
  top: 256px;

  &:hover {
    background-color: $btn-primary-hover !important;
    transition: background-color 0.3s ease;
  }
}

.btn_secondary {
  @extend .bg-main;
  @extend .border_btn_primary;
  //@extend .border;
  //@extend .border-secondary-subtle;
  @extend .rounded-pill;

  &:hover {
    background-color: $main-bg-secondary !important;
    transition: background-color 0.3s ease !important;
  }
}

.login_btn {
  @extend .mw-100;
  height: 2.5rem;
  width: 20rem;
  @extend .bg-white;
  @extend .border_btn_primary;
  @extend .border;
  @extend .border-secondary-subtle;
  @extend .rounded-pill;
  color: #212529;
  text-decoration: none;

  &:hover {
    background-color: $btn-primary-hover !important;
    transition: background-color 0.3s ease;
  }
}

.login {
  @extend .fw-bolder;
  @extend .mw-100;
  height: 2.2rem;
  @extend .bg-white;
  @extend .border_btn_primary;
  @extend .border;
  @extend .border-secondary-subtle;
  @extend .rounded-pill;
  color: #212529;
  text-decoration: none;

  &:hover {
    background-color: $btn-primary-hover !important;
    transition: background-color 0.3s ease;
  }
}

// ********************** Gestion style input ***********************

$input_stl: (
  height: 3rem,
  width: 20rem,
  'font-family': $font_palette,
);

.input {
  @each $prop, $val in $input_stl {
    #{$prop}: $val;
  }
}

.input {
  @extend .border;
  @extend .rounded;
  @extend .input;
}

// ************************ Gestion de style pour different modal ******************************

.register_contenair {
  text-align: start;
  width: 100vw;
  height: 100vh;
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.style_modal {
  width: 35rem;
  height: 40rem;
  padding: 4rem;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-around;
}

.style_modal_key {
  width: 35rem;
  padding: 4rem;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-around;
}

.stl_modal_login {
  width: 30rem;
  height: 40rem;
  padding: 4rem;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-around;
}

// ******************* Gestion de style pour les dates ***************************

.date_contenaire {
  @extend .d-flex;
  @extend .flex-row;
  @extend .gap-3;
}

// ****************** Gestion de style pour la page d'acceuil ********************

.contenaire_acceuil {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}
.contenaire_acceuil_logo {
  width: 40%;
  height: 95vh;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}
.contenaire_acceuil_contenu {
  width: 50%;
  height: 95vh;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-around;
}

.acceuil_contenu_title_h1 {
  width: 40rem;
  font-size: 4.5rem;
  @extend .fw-bold;
}

.acceuil_contenu_titre_h2 {
  font-size: 2rem;
  @extend .fw-bold;
}

.acceuil_contenu_section1 {
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-around;
}

.acceuil_contenu_parent_s1 {
  margin-top: 0.7rem;
  margin-bottom: 0.9rem;
  height: 11rem;
  @extend .d-flex;
}
.acceuil_contenu_parent_s2 {
  height: 6.2rem;
  @extend .d-flex;
}

// ****************** Gestion de style pour la page login ********************

.login_contenu_parent_s1 {
  margin-top: 0.7rem;
  margin-bottom: 0.9rem;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;
  gap: 1rem;
}

.login_contenu_section1 {
  text-align: center;
  height: 13rem;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-between;
  @extend .align-items-center;
}

.login_contenu_section2 {
  @extend .d-flex;
  @extend .flex-column;
  gap: 1rem;
}
$input_stl_login: (
  height: 3rem,
  width: 20rem,
  'font-family': $font_palette,
);

.login_input {
  @each $prop, $val in $input_stl_login {
    #{$prop}: $val;
  }
}

.login_contenu_input {
  @extend .login_input;
  @extend .border;
  @extend .rounded;
  @extend .form-control;
}

.login_contenu_input_password {
  @extend .form-control;
  @extend .login_input;
  @extend .border;
  @extend .rounded;
  width: 20rem;
}

.login_modal_password {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
}

.login_contenair_password {
  @extend .d-flex;
  @extend .flex-column;
}

.btn_password_forgat {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
}

.btn_suivant_password_login {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  width: 20rem;
  margin-top: 1rem;
}

// Page d'accueil navigation

.btn_nav {
  @extend .btn;
  @extend .btn-outline-light;
  color: black;
  border: none;
  width: 15rem;
}

.btn_nav:focus {
  @extend .border;
  @extend .border-info-subtle;
}

.btn_nav_dark {
  @extend .btn;
  @extend .btn-dark;
  border: none;
  width: 15rem;
}

.btn_nav_danger {
  @extend .btn;
  @extend .btn-danger;
  border: none;
  width: 15rem;
}

.container_section3 {
  width: 20rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.form-control:focus {
  @extend .shadow-none;
}

.container_section3_suggetion {
  @extend .border;
  @extend .border-light-subtle;
  @extend .rounded;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-around;
  width: 20rem;
}

.btn_nav_profil {
  @extend .btn;
  @extend .btn-outline-light;
  color: black;
  border: none;
  width: 10rem;
}

.btn_nav_profil:focus {
  @extend .border;
  @extend .border-info-subtle;
}

.modal-edite-profil {
  @extend .bg-body-secondary;
  position: absolute;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  @extend .bg-opacity-50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-edite-contente {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  @extend .bg-white;
  @extend .border;
  @extend .rounded-4;
  width: 35rem;
  @extend .d-flex;
  @extend .flex-column;
  gap: 1rem;
}

.btn_fermer {
  width: 2rem;
  height: 2rem;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}

.btn_fermer:hover {
  @extend .rounded-circle;
  @extend .bg-body-secondary;
  @extend .border-info-subtle;
}
