@include('partials/header')

<p style="font-family: Arial, sans-serif; color: #333;">
  Bonjour {{ user.prenom }}<br><br>
  Merci de vous être inscrit ! Cliquez sur le lien ci-dessous pour vérifier votre adresse e-mail 👇
</p>
    <a href= "{{ user.url }}">confirmer</a>
<p>Ce lien expirera dans 10 minutes.</p>
@include('partials/footer')