<button type="button" class="d-flex justify-content-around  p-2 rounded-lg hover:bg-gray-100 transition">
  <div class="d-flex align-items-center"><img src="{{ avatar }}" alt="{{ name }}" class="w-8 rounded-full object-cover"/></div>
  <div><span class="font-medium text-gray-800">{{ name }} <br> {{ username }}</span></div>
  <div class="d-flex align-items-center"><img style="width: 1.5rem;" src="{{ icon }}"></img></div>
</button>