<div id="modal" style="display: none;">
    <div id="content" class="d-flex justify-content-end modal-info-profil">
        <div style="height: 7rem;" class="d-flex flex-column justify-content-end align-items-center rounded-4 bg-body-secondary">
            <button style="width: 8rem; border: none;" type="button" class="btn btn-outline-secondary">Suive</button>
            <button style="width: 8rem; border: none;" type="button" class="btn btn-outline-secondary">Suprimer</button>
            <button style="width: 8rem; border: none;" type="button" class="btn btn-outline-secondary">Masquer</button>
        </div>
    </div>
</div> 